$bcg_authColor: #151c24;
$submitButton_color: #01ab55;
$buttonSecondary_color: 
#c9facd;
$hoverSubmit_color: #37DA88;
$text_lightColor: #fff;
$sidebar_color: #eaeaea;
$border_color: #cacaca;
$declibeButton_color: #c94949;
$hoverItem_color: #0c830c;
$activeSecondary_color: #126d00;
