@import '../../utilities/variables';

.Main {
  position: relative;
  border: 1px solid $border_color;
  border-radius: 0 8px 8px 0;

  &__сontainer {
    display: flex;
    justify-content: space-between;
    height: 400px;
    overflow: auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    border-radius: 0 8px 0 0;
    border-bottom: 1px solid $border_color;
    background-color: $buttonSecondary_color;
  }

  &__title {
    margin-left: 20px;
    line-height: 60px;
    font-size: 24px;
  }

  &__buttonAdd {
    height: 30px;
    width: 100px;
    margin-right: 20px;
    border: 1px solid transparent;
    color: $text_lightColor;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    background-color: $submitButton_color;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $hoverSubmit_color;
      color: $text_lightColor;
      cursor: pointer;
    }

    &:active {
      background-color: $activeSecondary_color;
      color: $text_lightColor;
    }
  }
}
