.Sidebar {
  display: flex;
  height: 400px;
  width: 200px;
  border: 1px solid black;

  &__content {
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    text-align: center;
    background-color: rgb(204, 236, 204);
  }

  &__logout {
    padding: 4px;
  }

  &__logoutButton {
    display: flex;
    align-items: center;
    padding: 4px;
    height: 28px;
    background-color: rgb(201, 73, 73);
    color: white;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
  }

  &__title {
    align-self: flex-end;
    padding-right: 10px;
    font-size: 24px;
  }

  &__foldersList {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__foldersItem {
    padding: 4px;
    font-size: 20px;


    &:hover {
      border-radius: 4px;
      color: rgb(12, 131, 12);
      background-color: rgb(204, 236, 204);
      cursor: pointer;
    }
  }
}
