@import '../../utilities/variables';

.Sidebar {
  display: flex;
  height: 400px;
  width: 200px;
  border: 1px solid $border_color;
  border-radius: 8px 0 0 8px;
  background-color: $sidebar_color;

  &__content {
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    text-align: center;
    border-radius: 8px 0 0 0;
    border-bottom: 1px solid $border_color;
    background-color: $buttonSecondary_color;
  }

  &__logout {
    padding: 4px;
  }

  &__logoutButton {
    display: flex;
    align-items: center;
    padding: 4px;
    height: 28px;
    background-color: $declibeButton_color;
    color: $text_lightColor;
    border-radius: 6px;
    border: 1px solid transparent;
    cursor: pointer;
  }

  &__title {
    align-self: flex-end;
    padding: 4px;
    font-size: 24px;
  }

  &__foldersList {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__foldersItem {
    padding: 4px;
    font-size: 20px;


    &:hover {
      border-radius: 4px;
      color: $hoverItem_color;
      background-color: $buttonSecondary_color;
      cursor: pointer;
    }
  }
}
