@import '../../../utilities/variables';

.CardNew {
  &__container {
    position: absolute;
    top: 0;
    right: -10px;
    transform: translate(100%);
    margin-top: 70px;
    width: 200px;
    justify-content: center;
    align-items: center;
    background-color: $bcg_authColor;
    border-radius: 6px;
  }

  input {
    margin-bottom: 10px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: $text_lightColor;
    font-size: 20px;

    input {
      margin-bottom: 10px;
      height: 24px;
      border-radius: 6px;
      border: 1px solid transparent;
    }
  }

  &__folderNameInput {
    height: 24px;
    font-size: 12px;
    border-radius: 6px;

    &:focus {
      background-color: $buttonSecondary_color;
    }
  }

  &__titleInput {
    height: 24px;
    font-size: 12px;
    border-radius: 6px;

    &:focus {
      background-color: $buttonSecondary_color;
    }
  }

  &__passwordInput {
    height: 24px;
    font-size: 12px;
    border-radius: 6px;

    &:focus {
      background-color: $buttonSecondary_color;
    }
  }

  &__buttonAdd {
    align-self: flex-end;
    height: 30px;
    width: 60px;
    margin-top: 10px;
    border: 1px solid transparent;
    color: $text_lightColor;
    font-size: 14px;
    border-radius: 10px;
    background-color: $submitButton_color;
    cursor: pointer;
  }
}
