@import './utilities/variables';

html {
  font-family: 'Roboto', sans-serif;
  color: rgb(65, 65, 65);
  box-sizing: border-box;
}

a {
  color: rgb(65, 65, 65);
  text-decoration: none;
}

*:focus {
  outline: none;
}
